# Tổng quan đề tài

Bạn nhận được Cơ sở dữ liệu bóng đá châu Âu có hơn 25.000 trận đấu và hơn 10.000 cầu thủ cho các mùa bóng đá chuyên nghiệp châu Âu từ 2008 đến 2016. Mục tiêu là bạn xem qua cơ sở dữ liệu này và thực hiện phân tích, bao gồm một số bước khám phá dữ liệu, thống kê cơ bản và sau đó bạn hình dung kết quả. Để hoàn thành tất cả các bước, bạn cần truy vấn dữ liệu trong cơ sở dữ liệu bằng cách sử dụng câu lệnh SQL. Đề tài này thực hành bạn viết lệnh SQL để kéo dữ liệu về và trích xuất nó.

Tải dữ liệu bóng đá Châu Âu [tại đây](https://www.kaggle.com/datasets/hugomathien/soccer/discussion)

In [ ]:
!pip install opendatasets

In [152]:
import opendatasets as od

european_soccer_database = 'https://www.kaggle.com/datasets/hugomathien/soccer/discussion'

od.download(european_soccer_database)

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username:Your Kaggle Key:Dataset URL: https://www.kaggle.com/datasets/hugomathien/soccer
Downloading soccer.zip to .\soccer

100%|██████████| 32.7M/32.7M [00:03<00:00, 10.3MB/s]

In [153]:
import os

data_dir = '.\soccer'

os.listdir (data_dir)

['database.sqlite']

# Mô tả dữ liệu

Cơ sở dữ liệu bóng đá châu Âu này có hơn 25.000 trận đấu và hơn 10.000 cầu thủ cho các mùa bóng đá chuyên nghiệp châu Âu từ 2008 đến 2016, 11 quốc gia châu Âu với chức vô địch dẫn đầu. Các thuộc tính của Người chơi và Đội có nguồn gốc từ loạt trò chơi video FIFA của EA Sports, bao gồm các bản cập nhật hàng tuần.

<table style="width: 100%;">
<tbody>
<tr>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">Table</span></p>
</td>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">Total Rows</span></p>
</td>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">Total Columns</span></p>
</td>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">Columns</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">Country</span></p>
</td>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">11</span></p>
</td>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">2</span></p>
</td>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">id, name</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">League</span></p>
</td>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">11</span></p>
</td>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">3</span></p>
</td>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">id, country_id, name</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">Match</span></p>
</td>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">25979</span></p>
</td>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">115</span></p>
</td>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">id, country_id, league_id, season, stage, date, match_api_id, home_team_api_id, away_team_api_id, home_team_goal, away_team_goal, home_player_X1, home_player_X2, home_player_X3, home_player_X4, home_player_X5, home_player_X6, home_player_X7, home_player_X8, home_player_X9, home_player_X10, home_player_X11, away_player_X1, away_player_X2, away_player_X3, away_player_X4, away_player_X5, away_player_X6, away_player_X7, away_player_X8, away_player_X9, away_player_X10, away_player_X11, home_player_Y1, home_player_Y2, home_player_Y3, home_player_Y4, home_player_Y5, home_player_Y6, home_player_Y7, home_player_Y8, home_player_Y9, home_player_Y10, home_player_Y11, away_player_Y1, away_player_Y2, away_player_Y3, away_player_Y4, away_player_Y5, away_player_Y6, away_player_Y7, away_player_Y8, away_player_Y9, away_player_Y10, away_player_Y11, home_player_1, home_player_2, home_player_3, home_player_4, home_player_5, home_player_6, home_player_7, home_player_8, home_player_9, home_player_10, home_player_11, away_player_1, away_player_2, away_player_3, away_player_4, away_player_5, away_player_6, away_player_7, away_player_8, away_player_9, away_player_10, away_player_11, goal, shoton, shotoff, foulcommit, card, cross, corner, possession, B365H, B365D, B365A, BWH, BWD, BWA, IWH, IWD, IWA, LBH, LBD, LBA, PSH, PSD, PSA, WHH, WHD, WHA, SJH, SJD, SJA, VCH, VCD, VCA, GBH, GBD, GBA, BSH, BSD, BSA</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">Player</span></p>
</td>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">11060</span></p>
</td>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">7</span></p>
</td>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">id, player_api_id, player_name, player_fifa_api_id, birthday, height, weight</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">Player_Attributes</span></p>
</td>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">183978</span></p>
</td>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">42</span></p>
</td>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">id, player_fifa_api_id, player_api_id, date, overall_rating, potential, preferred_foot, attacking_work_rate, defensive_work_rate, crossing, finishing, heading_accuracy,

# Gọi thư viện Python

In [2]:
#Import libraries
import numpy as np
import pandas as pd
import sqlite3
from datetime import timedelta
import warnings
warnings.filterwarnings("ignore")
pd.set_option("display.max_columns", 100)

## Câu hỏi 1: Kết nối tới cơ sở dữ liệu và truy vấn thông tin của tất cả các bảng

Đọc https://docs.python.org/2/library/sqlite3.html

Học viên chỉ sử dụng câu lệnh SQL để truy vấn kế quả, không được sử dụng câu lệnh Pandas để tính toán ra kết quả.

In [154]:
# Kết nối với cơ sở dữ liệu
# ĐIỀN CODE VÀO ĐÂY
conn = sqlite3.connect('soccer\database.sqlite')

# Lấy thông tin của tất cả bảng
tables = pd.read_sql("""SELECT *
                        FROM sqlite_master
                        WHERE type='table';""", conn)
tables

,type,name,tbl_name,rootpage,sql
0,table,sqlite_sequence,sqlite_sequence,4,"CREATE TABLE sqlite_sequence(name,seq)"
1,table,Player_Attributes,Player_Attributes,11,"CREATE TABLE ""Player_Attributes"" (\n\t`id`\tIN..."
2,table,Player,Player,14,CREATE TABLE `Player` (\n\t`id`\tINTEGER PRIMA...
3,table,Match,Match,18,CREATE TABLE `Match` (\n\t`id`\tINTEGER PRIMAR...
4,table,League,League,24,CREATE TABLE `League` (\n\t`id`\tINTEGER PRIMA...
5,table,Country,Country,26,CREATE TABLE `Country` (\n\t`id`\tINTEGER PRIM...
6,table,Team,Team,29,"CREATE TABLE ""Team"" (\n\t`id`\tINTEGER PRIMARY..."
7,table,Team_Attributes,Team_Attributes,2,CREATE TABLE `Team_Attributes` (\n\t`id`\tINTE...

## Câu hỏi 2: Liệt kê các quốc gia có trong dữ liệu bảng "Country"

In [6]:
# ĐIỀN CODE VÀO ĐÂY
result = pd.read_sql("""SELECT  *
                        FROM    Country
                        """, conn)
result

       id         name
0       1      Belgium
1    1729      England
2    4769       France
3    7809      Germany
4   10257        Italy
5   13274  Netherlands
6   15722       Poland
7   17642     Portugal
8   19694     Scotland
9   21518        Spain
10  24558  Switzerland

## Câu hỏi 3: Liệt kê các giải đấu trong bảng "League"

In [7]:
# ĐIỀN CODE VÀO ĐÂY
result = pd.read_sql("""SELECT      *
                        FROM        League
                        """, conn)
result

       id  country_id                      name
0       1           1    Belgium Jupiler League
1    1729        1729    England Premier League
2    4769        4769            France Ligue 1
3    7809        7809     Germany 1. Bundesliga
4   10257       10257             Italy Serie A
5   13274       13274    Netherlands Eredivisie
6   15722       15722        Poland Ekstraklasa
7   17642       17642  Portugal Liga ZON Sagres
8   19694       19694   Scotland Premier League
9   21518       21518           Spain LIGA BBVA
10  24558       24558  Switzerland Super League

## Câu hỏi 4: Liệt kê các giải đấu và thông tin quốc gia của từng league

Bảng League có quan hệ với bảng Country qua khóa country_id.

In [11]:
# ĐIỀN CODE VÀO ĐÂY
result = pd.read_sql("""SELECT      l.name AS 'League Name', c.name AS 'Country Name'
                        FROM        League  AS l
                        LEFT JOIN   Country AS c ON c.id = l.country_id
                        """, conn)
result

                 League Name Country Name
0     Belgium Jupiler League      Belgium
1     England Premier League      England
2             France Ligue 1       France
3      Germany 1. Bundesliga      Germany
4              Italy Serie A        Italy
5     Netherlands Eredivisie  Netherlands
6         Poland Ekstraklasa       Poland
7   Portugal Liga ZON Sagres     Portugal
8    Scotland Premier League     Scotland
9            Spain LIGA BBVA        Spain
10  Switzerland Super League  Switzerland

## Câu hỏi 5: Liệt kê các trận đấu trong bảng  “Match”
- Khi một đội là chủ nhà, đội đó là "home team". Đội còn lại là "away team"
- Trong bảng Match, mỗi dòng dữ liệu là một trận đấu của một đội chủ nhà và đội khách, tương ứng với kết quả ghi bàn đội nhà (home goal) và đội khách (away goal).

In [12]:
# ĐIỀN CODE VÀO ĐÂY
result = pd.read_sql("""SELECT      *
                        FROM        Match
                        """, conn)
result

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,home_player_X1,home_player_X2,home_player_X3,home_player_X4,home_player_X5,home_player_X6,home_player_X7,home_player_X8,home_player_X9,home_player_X10,home_player_X11,away_player_X1,away_player_X2,away_player_X3,away_player_X4,away_player_X5,away_player_X6,away_player_X7,away_player_X8,away_player_X9,away_player_X10,away_player_X11,home_player_Y1,home_player_Y2,home_player_Y3,home_player_Y4,home_player_Y5,home_player_Y6,home_player_Y7,home_player_Y8,home_player_Y9,home_player_Y10,home_player_Y11,away_player_Y1,away_player_Y2,away_player_Y3,away_player_Y4,away_player_Y5,away_player_Y6,...,home_player_11,away_player_1,away_player_2,away_player_3,away_player_4,away_player_5,away_player_6,away_player_7,away_player_8,away_player_9,away_player_10,away_player_11,goal,shoton,shotoff,foulcommit,card,cross,corner,possession,B365H,B365D,B365A,BWH,BWD,BWA,IWH,IWD,IWA,LBH,LBD,LBA,PSH,PSD,PSA,WHH,WHD,WHA,SJH,SJD,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
0,1,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,1.73,3.40,5.00,1.75,3.35,4.20,1.85,3.2,3.5,1.80,3.3,3.75,NaN,NaN,NaN,1.70,3.30,4.33,1.90,3.3,4.00,1.65,3.40,4.50,1.78,3.25,4.00,1.73,3.40,4.20
1,2,1,1,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,1.95,3.20,3.60,1.80,3.30,3.95,1.90,3.2,3.5,1.90,3.2,3.50,NaN,NaN,NaN,1.83,3.30,3.60,1.95,3.3,3.80,2.00,3.25,3.25,1.85,3.25,3.75,1.91,3.25,3.60
2,3,1,1,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,2.38,3.30,2.75,2.40,3.30,2.55,2.60,3.1,2.3,2.50,3.2,2.50,NaN,NaN,NaN,2.50,3.25,2.40,2.63,3.3,2.50,2.35,3.25,2.65,2.50,3.20,2.50,2.30,3.20,2.75
3,4,1,1,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,5,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,1.44,3.75,7.50,1.40,4.00,6.80,1.40,3.9,6.0,1.44,3.6,6.50,NaN,NaN,NaN,1.44,3.75,6.00,1.44,4.0,7.50,1.45,3.75,6.50,1.50,3.75,5.50,1.44,3.75,6.50
4,5,1,1,2008/2009,1,2008-08-16 00:00:00,492477,7947,9985,1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,5.00,3.50,1.65,5.00,3.50,1.60,4.00,3.3,1.7,4.00,3.4,1.72,NaN,NaN,NaN,4.20,3.40,1.70,4.50,3.5,1.73,4.50,3.40,1.65,4.50,3.50,1.65,4.75,3.30,1.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25974,25975,24558,24558,2015/2016,9,2015-09-22 00:00:00,1992091,10190,10191,1,0,1.0,2.0,4.0,6.0,8.0,4.0,6.0,3.0,5.0,7.0,5.0,1.0,2.0,4.0,6.0,8.0,4.0,6.0,3.0,5.0,7.0,5.0,1.0,3.0,3.0,3.0,3.0,6.0,6.0,8.0,8.0,8.0,11.0,1.0,3.0,3.0,3.0,3.0,6.0,...,195215.0,462944.0,563066.0,8800.0,67304.0,158253.0,133126.0,186524.0,93223.0,121115.0,232110.0,289732.0,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25975,25976,24558,24558,2015/2016,9,2015-09-23 00:00:00,1992092,9824,10199,1,2,1.0,3.0,5.0,7.0,2.0,4.0,6.0,8.0,5.0,4.0,6.0,1.0,2.0,4.0,6.0,8.0,3.0,5.0,7.0,3.0,5.0,7.0,1.0,3.0,3.0,3.0,7.0,7.0,7.0,7.0,9.0,11.0,11.0,1.0,3.0,3.0,3.0,3.0,7.0,...,37257.0,42276.0,114792.0,150007.0,178119.0,27232.0,570830.0,260708.0,201704.0,36382.0,34082.0,95257.0,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25976,25977,24558,24558,2015/2016,9,2015-09-23 00:00:00,1992093,9956,10179,2,0,1.0,2.0,4.0,6.0,8.0,4.0,6.0,3.0,5.0,7.0,5.0,1.0,2.0,4.0,6.0,8.0,4.0,6.0,3.0,5.0,7.0,5.0,1.0,3.0,3.0,3.0,3.0,6.0,6.0,8.0,8.0,8.0,11.0,1.0,3.0,3.0,3.0,3.0,6.0,...,289472.0,10637.0,67349.0,202663.0,32597.0,114794.0,188114.0,25840.0,482200.0,95230.0,451335.0,275122.0,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25977,25978,24558,24558,2015/2016,9,2015-09-22 00:00:00,1992094,7896,10243,0,0,1.0,2.0,4.0,6.0,8.0,3.0,7.0,5.0,3.0,5.0,7.0,1.0,2.0,4.0,6.0,8.0,4.0,6.0,3.0,5.0,7.0,5.0,1.0,3.0,3.0,3.0,3.0,7.0,7.0,7.0,10.0,10.0,10.0,1.0,3.0,3.0,3.0,3.0,6.0,...,178142.0,274776.0,121080.0,197757.0,260964.0,231614.0,113235.0,41116.0,462608.0,42262.0,92252.0,194532.0,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25978,25979,24558,24558,2015/2016,9,2015-09-23 00:00:00,1992095,10192,9931,4,3,1.0,2.0,4.0,6.0,8.0,2.0,4.0,6.0,8.0,4.0,6.0,1.0,2.0,4.0,6.0,8.0,4.0,6.0,3.0,5.0,7.0,5.0,1.0,3.0,3.0,3.0,3.0,7.0,7.0,7.0,7.0,10.0,10.0,1.0,3.0,3.0,3.0,3.0,6.0,...,71764.0,156175.0,95216.0,172768.0,22834.0,458806.0,207234.0,25772.0,40274.0,34035.0,41726.0,527103.0,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Câu hỏi 6: Liệt kê các trận đấu và thông tin về leage và country tương ứng

Bảng Match có quan hệ với :
 - Bảng Country thông qua khóa country_id
 - Bảng League thông qua khóa League_id

Sử dụng câu lệnh join để kết nối dữ liệu từ 3 bảng trên.

In [17]:
# ĐIỀN CODE VÀO ĐÂY
result = pd.read_sql("""SELECT      c.name AS 'Country Name', l.name AS 'League Name', m.*
                        FROM        Match   AS m
                        LEFT JOIN   Country AS c    ON c.id = m.country_id
                        LEFT JOIN   League  AS l    ON l.id = m.league_id
                        """, conn)
result

,Country Name,League Name,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,home_player_X1,home_player_X2,home_player_X3,home_player_X4,home_player_X5,home_player_X6,home_player_X7,home_player_X8,home_player_X9,home_player_X10,home_player_X11,away_player_X1,away_player_X2,away_player_X3,away_player_X4,away_player_X5,away_player_X6,away_player_X7,away_player_X8,away_player_X9,away_player_X10,away_player_X11,home_player_Y1,home_player_Y2,home_player_Y3,home_player_Y4,home_player_Y5,home_player_Y6,home_player_Y7,home_player_Y8,home_player_Y9,home_player_Y10,home_player_Y11,away_player_Y1,away_player_Y2,away_player_Y3,away_player_Y4,...,home_player_11,away_player_1,away_player_2,away_player_3,away_player_4,away_player_5,away_player_6,away_player_7,away_player_8,away_player_9,away_player_10,away_player_11,goal,shoton,shotoff,foulcommit,card,cross,corner,possession,B365H,B365D,B365A,BWH,BWD,BWA,IWH,IWD,IWA,LBH,LBD,LBA,PSH,PSD,PSA,WHH,WHD,WHA,SJH,SJD,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
0,Belgium,Belgium Jupiler League,1,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,1.73,3.40,5.00,1.75,3.35,4.20,1.85,3.2,3.5,1.80,3.3,3.75,NaN,NaN,NaN,1.70,3.30,4.33,1.90,3.3,4.00,1.65,3.40,4.50,1.78,3.25,4.00,1.73,3.40,4.20
1,Belgium,Belgium Jupiler League,2,1,1,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,1.95,3.20,3.60,1.80,3.30,3.95,1.90,3.2,3.5,1.90,3.2,3.50,NaN,NaN,NaN,1.83,3.30,3.60,1.95,3.3,3.80,2.00,3.25,3.25,1.85,3.25,3.75,1.91,3.25,3.60
2,Belgium,Belgium Jupiler League,3,1,1,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,2.38,3.30,2.75,2.40,3.30,2.55,2.60,3.1,2.3,2.50,3.2,2.50,NaN,NaN,NaN,2.50,3.25,2.40,2.63,3.3,2.50,2.35,3.25,2.65,2.50,3.20,2.50,2.30,3.20,2.75
3,Belgium,Belgium Jupiler League,4,1,1,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,5,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,1.44,3.75,7.50,1.40,4.00,6.80,1.40,3.9,6.0,1.44,3.6,6.50,NaN,NaN,NaN,1.44,3.75,6.00,1.44,4.0,7.50,1.45,3.75,6.50,1.50,3.75,5.50,1.44,3.75,6.50
4,Belgium,Belgium Jupiler League,5,1,1,2008/2009,1,2008-08-16 00:00:00,492477,7947,9985,1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,5.00,3.50,1.65,5.00,3.50,1.60,4.00,3.3,1.7,4.00,3.4,1.72,NaN,NaN,NaN,4.20,3.40,1.70,4.50,3.5,1.73,4.50,3.40,1.65,4.50,3.50,1.65,4.75,3.30,1.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25974,Switzerland,Switzerland Super League,25975,24558,24558,2015/2016,9,2015-09-22 00:00:00,1992091,10190,10191,1,0,1.0,2.0,4.0,6.0,8.0,4.0,6.0,3.0,5.0,7.0,5.0,1.0,2.0,4.0,6.0,8.0,4.0,6.0,3.0,5.0,7.0,5.0,1.0,3.0,3.0,3.0,3.0,6.0,6.0,8.0,8.0,8.0,11.0,1.0,3.0,3.0,3.0,...,195215.0,462944.0,563066.0,8800.0,67304.0,158253.0,133126.0,186524.0,93223.0,121115.0,232110.0,289732.0,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25975,Switzerland,Switzerland Super League,25976,24558,24558,2015/2016,9,2015-09-23 00:00:00,1992092,9824,10199,1,2,1.0,3.0,5.0,7.0,2.0,4.0,6.0,8.0,5.0,4.0,6.0,1.0,2.0,4.0,6.0,8.0,3.0,5.0,7.0,3.0,5.0,7.0,1.0,3.0,3.0,3.0,7.0,7.0,7.0,7.0,9.0,11.0,11.0,1.0,3.0,3.0,3.0,...,37257.0,42276.0,114792.0,150007.0,178119.0,27232.0,570830.0,260708.0,201704.0,36382.0,34082.0,95257.0,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25976,Switzerland,Switzerland Super League,25977,24558,24558,2015/2016,9,2015-09-23 00:00:00,1992093,9956,10179,2,0,1.0,2.0,4.0,6.0,8.0,4.0,6.0,3.0,5.0,7.0,5.0,1.0,2.0,4.0,6.0,8.0,4.0,6.0,3.0,5.0,7.0,5.0,1.0,3.0,3.0,3.0,3.0,6.0,6.0,8.0,8.0,8.0,11.0,1.0,3.0,3.0,3.0,...,289472.0,10637.0,67349.0,202663.0,32597.0,114794.0,188114.0,25840.0,482200.0,95230.0,451335.0,275122.0,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25977,Switzerland,Switzerland Super League,25978,24558,24558,2015/2016,9,2015-09-22 00:00:00,1992094,7896,10243,0,0,1.0,2.0,4.0,6.0,8.0,3.0,7.0,5.0,3.0,5.0,7.0,1.0,2.0,4.0,6.0,8.0,4.0,6.0,3.0,5.0,7.0,5.0,1.0,3.0,3.0,3.0,3.0,7.0,7.0,7.0,10.0,10.0,10.0,1.0,3.0,3.0,3.0,...,178142.0,274776.0,121080.0,197757.0,260964.0,231614.0,113235.0,41116.0,462608.0,42262.0,92252.0,194532.0,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25978,Switzerland,Switzerland Super League,25979,24558,24558,2015/2016,9,2015-09-23 00:00:00,1992095,10192,9931,4,3,1.0,2.0,4.0,6.0,8.0,2.0,4.0,6.0,8.0,4.0,6.0,1.0,2.0,4.0,6.0,8.0,4.0,6.0,3.0,5.0,7.0,5.0,1.0,3.0,3.0,3.0,3.0,7.0,7.0,7.0,7.0,10.0,10.0,1.0,3.0,3.0,3.0,...,71764.0,156175.0,95216.0,172768.0,22834.0,458806.0,207234.0,25772.0,40274.0,34035.0,41726.0,527103.0,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Câu hỏi 7: Liệt kê số lượng trận đấu của mỗi giải đấu bao gồm cả tên giải đấu, sắp xếp theo thứ tự giảm dần số trận đấu

In [11]:
# ĐIỀN CODE VÀO ĐÂY
result = pd.read_sql("""SELECT      m.league_id, l.name AS 'league name', COUNT(m.id) AS 'num match'
                        FROM        Match   AS m
                        LEFT JOIN   League  AS l    ON l.id = m.league_id
                        GROUP BY    m.league_id
                        ORDER BY    COUNT(m.id) DESC
                        """, conn)
result

    league_id               league name  num match
0       21518           Spain LIGA BBVA       3040
1        4769            France Ligue 1       3040
2        1729    England Premier League       3040
3       10257             Italy Serie A       3017
4       13274    Netherlands Eredivisie       2448
5        7809     Germany 1. Bundesliga       2448
6       17642  Portugal Liga ZON Sagres       2052
7       15722        Poland Ekstraklasa       1920
8       19694   Scotland Premier League       1824
9           1    Belgium Jupiler League       1728
10      24558  Switzerland Super League       1422

## Câu hỏi 8: Liệt kê tổng số bàn thắng của đội nhà và đội khách trong mỗi giải đấu
- Sử dụng câu lệnh Group By

In [13]:
# ĐIỀN CODE VÀO ĐÂY
result = pd.read_sql("""SELECT      m.league_id, l.name AS 'league name', SUM(m.home_team_goal) AS 'Home goals', SUM(m.away_team_goal) AS 'Away goals'
                        FROM        Match   AS m
                        LEFT JOIN   League  AS l    ON l.id = m.league_id
                        GROUP BY    m.league_id
                        """, conn)
result

    league_id               league name  Home goals  Away goals
0           1    Belgium Jupiler League        2781        2060
1        1729    England Premier League        4715        3525
2        4769            France Ligue 1        4265        3162
3        7809     Germany 1. Bundesliga        3982        3121
4       10257             Italy Serie A        4528        3367
5       13274    Netherlands Eredivisie        4357        3185
6       15722        Poland Ekstraklasa        2678        1978
7       17642  Portugal Liga ZON Sagres        2890        2311
8       19694   Scotland Premier League        2607        2197
9       21518           Spain LIGA BBVA        4959        3453
10      24558  Switzerland Super League        2365        1801

## Câu hỏi 9: Liệt kê thông tin các đội từ bảng “Team”

In [14]:
# ĐIỀN CODE VÀO ĐÂY
result = pd.read_sql("""SELECT      *
                        FROM        Team
                        """, conn)
result

        id  team_api_id  team_fifa_api_id      team_long_name team_short_name
0        1         9987             673.0            KRC Genk             GEN
1        2         9993             675.0        Beerschot AC             BAC
2        3        10000           15005.0    SV Zulte-Waregem             ZUL
3        4         9994            2007.0    Sporting Lokeren             LOK
4        5         9984            1750.0   KSV Cercle Brugge             CEB
..     ...          ...               ...                 ...             ...
294  49479        10190             898.0       FC St. Gallen             GAL
295  49837        10191            1715.0             FC Thun             THU
296  50201         9777             324.0         Servette FC             SER
297  50204         7730            1862.0  FC Lausanne-Sports             LAU
298  51606         7896               NaN              Lugano             LUG

[299 rows x 5 columns]

## Câu hỏi 10: Liệt kê 20 đội với số bàn thắng sân nhà cao nhất
- Sử dung câu lênh GROUP BY, LIMIT

In [16]:
# ĐIỀN CODE VÀO ĐÂY
result = pd.read_sql("""SELECT      t.team_long_name, SUM(m.home_team_goal) AS 'Home goals'
                        FROM        Match   AS m
                        LEFT JOIN   Team    AS t    ON t.team_api_id = m.home_team_api_id
                        GROUP BY    t.team_long_name
                        ORDER BY    SUM(m.home_team_goal) DESC
                        LIMIT       20
                        """, conn)
result

         team_long_name  Home goals
0        Real Madrid CF         505
1          FC Barcelona         495
2                Celtic         389
3      FC Bayern Munich         382
4                   PSV         370
5       Manchester City         365
6                  Ajax         360
7              FC Basel         344
8     Manchester United         338
9               Chelsea         333
10  Paris Saint-Germain         332
11           SL Benfica         321
12      Atlético Madrid         321
13       BSC Young Boys         319
14             Juventus         307
15              Arsenal         306
16               Napoli         303
17          Valencia CF         299
18                 Roma         299
19    Borussia Dortmund         298

## Câu hỏi 11: Liệt kê 20 đội có số bàn thắng trên sân khách cao nhất
- Sử dụng câu lênh GROUP BY, LIMIT

In [22]:
# ĐIỀN CODE VÀO ĐÂY
result = pd.read_sql("""SELECT      t.team_long_name, SUM(m.away_team_goal) AS 'Away goals'
                        FROM        Match   AS m
                        LEFT JOIN   Team    AS t    ON t.team_api_id = m.away_team_api_id
                        GROUP BY    t.team_long_name
                        ORDER BY    SUM(m.away_team_goal) DESC
                        LIMIT       20
                        """, conn)
result

         team_long_name  Away goals
0          FC Barcelona         354
1        Real Madrid CF         338
2                Celtic         306
3                  Ajax         287
4                   PSV         282
5              FC Basel         275
6      FC Bayern Munich         271
7               Arsenal         267
8     Borussia Dortmund         253
9               Chelsea         250
10           SL Benfica         247
11             FC Porto         246
12    Manchester United         244
13      Manchester City         241
14            Liverpool         237
15  Paris Saint-Germain         236
16             Juventus         236
17                 Roma         231
18            FC Zürich         227
19    Tottenham Hotspur         226

## Câu hỏi 12: Liệt kê tên các đội bóng và tổng số bàn thắng mỗi đội, sắp xếp  theo số lượng giảm dần

- Tổng số bàn thắng của một đội bao gồm cả số bàn thắng ở sân nhà và sân khách.
- Sử dụng câu lệnh Union

In [29]:
# ĐIỀN CODE VÀO ĐÂY

home_away_goals = pd.read_sql("""SELECT     t.team_long_name, SUM(m.home_team_goal) AS 'Goals'
                        FROM        Match   AS m
                        LEFT JOIN   Team    AS t    ON t.team_api_id = m.home_team_api_id
                        GROUP BY    t.team_long_name
                        UNION ALL
                        SELECT     t.team_long_name, SUM(m.away_team_goal) AS 'Goals'
                        FROM        Match   AS m
                        LEFT JOIN   Team    AS t    ON t.team_api_id = m.away_team_api_id
                        GROUP BY    t.team_long_name
                        """, conn)
#Do mỗi đội bóng sẽ xuất hiện 2 lần khi Union (1 lần cho home_goal, 1 lần cho away goal) nên cần group bảng:
total_goals_by_team = home_away_goals.groupby('team_long_name')['Goals'].sum().reset_index()
total_goals_by_team

               team_long_name  Goals
0        1. FC Kaiserslautern     72
1                  1. FC Köln    226
2              1. FC Nürnberg    193
3             1. FSV Mainz 05    320
4                  AC Ajaccio    116
..                        ...    ...
291      Xerez Club Deportivo     38
292            Zagłębie Lubin    207
293         Zawisza Bydgoszcz     75
294  Évian Thonon Gaillard FC    180
295             Śląsk Wrocław    318

[296 rows x 2 columns]

In [32]:
top_20_teams = total_goals_by_team.nlargest(5, 'Goals')
top_20_teams

       team_long_name  Goals
75       FC Barcelona    849
211    Real Madrid CF    843
49             Celtic    695
77   FC Bayern Munich    653
184               PSV    652

In [38]:
# Solution 2
total_goals_by_team = pd.read_sql("""
                                    SELECT      t.team_long_name,
                                                SUM(
                                                    CASE WHEN m.home_team_api_id = t.team_api_id    THEN m.home_team_goal ELSE 0 END
                                                    + CASE WHEN m.away_team_api_id = t.team_api_id  THEN m.away_team_goal ELSE 0 END
                                                    ) AS 'Goals'
                                    FROM        Match   AS m
                                    LEFT JOIN   Team    AS t    ON  t.team_api_id = m.home_team_api_id
                                                                OR  t.team_api_id = m.away_team_api_id
                                    GROUP BY    t.team_long_name
                                """, conn)

total_goals_by_team

               team_long_name  Goals
0        1. FC Kaiserslautern     72
1                  1. FC Köln    226
2              1. FC Nürnberg    193
3             1. FSV Mainz 05    320
4                  AC Ajaccio    116
..                        ...    ...
291      Xerez Club Deportivo     38
292            Zagłębie Lubin    207
293         Zawisza Bydgoszcz     75
294  Évian Thonon Gaillard FC    180
295             Śląsk Wrocław    318

[296 rows x 2 columns]

## Câu hỏi 13: Liệt kê tên các đội bóng (long name) và tổng số trận đấu đội đó tham gia, sắp xếp theo thứ tự giảm dần.

In [41]:
home_away_matchs = pd.read_sql("""SELECT     t.team_long_name, COUNT(m.match_api_id) AS 'Matchs'
                        FROM        Match   AS m
                        LEFT JOIN   Team    AS t    ON t.team_api_id = m.home_team_api_id
                        GROUP BY    t.team_long_name
                        UNION ALL
                        SELECT     t.team_long_name, COUNT(m.match_api_id) AS 'Matchs'
                        FROM        Match   AS m
                        LEFT JOIN   Team    AS t    ON t.team_api_id = m.away_team_api_id
                        GROUP BY    t.team_long_name
                        """, conn)

total_matchs_by_team = home_away_matchs.groupby('team_long_name')['Matchs'].sum().reset_index()
total_matchs_by_team

               team_long_name  Matchs
0        1. FC Kaiserslautern      68
1                  1. FC Köln     204
2              1. FC Nürnberg     170
3             1. FSV Mainz 05     238
4                  AC Ajaccio     114
..                        ...     ...
291      Xerez Club Deportivo      38
292            Zagłębie Lubin     180
293         Zawisza Bydgoszcz      60
294  Évian Thonon Gaillard FC     152
295             Śląsk Wrocław     240

[296 rows x 2 columns]

In [39]:
# ĐIỀN CODE VÀO ĐÂY
total_matchs_by_team = pd.read_sql("""
                                    SELECT      t.team_long_name,
                                                COUNT(
                                                    CASE WHEN m.home_team_api_id = t.team_api_id    THEN m.match_api_id ELSE 0 END
                                                    + CASE WHEN m.away_team_api_id = t.team_api_id  THEN m.match_api_id ELSE 0 END
                                                    ) AS 'Matchs'
                                    FROM        Match   AS m
                                    LEFT JOIN   Team    AS t    ON  t.team_api_id = m.home_team_api_id
                                                                OR  t.team_api_id = m.away_team_api_id
                                    GROUP BY    t.team_long_name
                                """, conn)

total_matchs_by_team

               team_long_name  Matchs
0        1. FC Kaiserslautern      68
1                  1. FC Köln     204
2              1. FC Nürnberg     170
3             1. FSV Mainz 05     238
4                  AC Ajaccio     114
..                        ...     ...
291      Xerez Club Deportivo      38
292            Zagłębie Lubin     180
293         Zawisza Bydgoszcz      60
294  Évian Thonon Gaillard FC     152
295             Śląsk Wrocław     240

[296 rows x 2 columns]

## Câu hỏi 14: Liệt kê số trận thắng, thua và hòa của mỗi đội.

- Nếu một đội có số lượng bàn thắng trên sân nhà > số lượng bàn thắng trên sân khách của chính đội đó, thì đội đó sẽ "thắng" trong trận đấu này
- Nếu một đội có số lượng bàn thắng trên sân nhà < số lượng bàn thắng trên sân khách của chính đội đó, thì đội đó sẽ "thua" trong trận đấu này
- Nếu một đội có số lượng bàn thắng trên sân nhà = số lượng bàn thắng trên sân khách của chính đội đó, thì đội đó sẽ "hòa" trong trận đấu này
- Sử dụng câu lệnh "Case When"

In [79]:
# ĐIỀN CODE VÀO ĐÂY
result = pd.read_sql("""SELECT      t.team_long_name,
                                    COUNT(CASE
                                            WHEN m.home_team_api_id = t.team_api_id AND m.home_team_goal > m.away_team_goal THEN 1
                                            WHEN m.away_team_api_id = t.team_api_id AND m.home_team_goal < m.away_team_goal THEN 1
                                        END) As wins,
                                    COUNT(CASE
                                            WHEN m.home_team_api_id = t.team_api_id AND m.home_team_goal < m.away_team_goal THEN 1
                                            WHEN m.away_team_api_id = t.team_api_id AND m.home_team_goal > m.away_team_goal THEN 1
                                        END) As losses,
                                    COUNT(CASE
                                            WHEN m.home_team_api_id = t.team_api_id AND m.home_team_goal = m.away_team_goal THEN 1
                                            WHEN m.away_team_api_id = t.team_api_id AND m.home_team_goal = m.away_team_goal THEN 1
                                        END) As draws                                 
                        FROM        Match   AS m
                        LEFT JOIN   Team    As t    ON t.team_api_id = m.home_team_api_id
                                                    OR t.team_api_id = m.away_team_api_id
                        GROUP BY    t.team_long_name
                        ORDER BY    wins DESC
                        """, conn)
result

            team_long_name  wins  losses  draws
0             FC Barcelona   234      27     43
1           Real Madrid CF   228      40     36
2                   Celtic   218      36     50
3         FC Bayern Munich   193      35     44
4        Manchester United   192      55     57
..                     ...   ...     ...    ...
291   SpVgg Greuther Fürth     4      21      9
292           FC Dordrecht     4      22      8
293  DSC Arminia Bielefeld     4      14     16
294             Córdoba CF     3      24     11
295       AC Arles-Avignon     3      24     11

[296 rows x 4 columns]

## Câu hỏi 15: Liệt kê 10 đội có số trận thắng nhiều nhất

In [80]:
# ĐIỀN CODE VÀO ĐÂY
result = pd.read_sql("""SELECT      t.team_long_name,
                                    COUNT(CASE
                                            WHEN m.home_team_api_id = t.team_api_id AND m.home_team_goal > m.away_team_goal THEN 1
                                            WHEN m.away_team_api_id = t.team_api_id AND m.home_team_goal < m.away_team_goal THEN 1
                                        END) As wins                              
                        FROM        Match   AS m
                        LEFT JOIN   Team    As t    ON t.team_api_id = m.home_team_api_id
                                                    OR t.team_api_id = m.away_team_api_id
                        GROUP BY    t.team_long_name
                        ORDER BY    wins DESC
                        LIMIT       10
                        """, conn)
result

      team_long_name  wins
0       FC Barcelona   234
1     Real Madrid CF   228
2             Celtic   218
3   FC Bayern Munich   193
4  Manchester United   192
5           Juventus   189
6         SL Benfica   185
7           FC Porto   183
8               Ajax   181
9           FC Basel   180

## Câu hỏi 16: Liệt kê tỉ lệ phần trăm về số trận của mỗi giải trên tổng tất cả các trận

In [104]:
# ĐIỀN CODE VÀO ĐÂY
result = pd.read_sql("""SELECT      l.name AS league_name,
                                    COUNT(m.match_api_id)                                       AS math_count,
                                    (COUNT(m.match_api_id)*100)/(SELECT COUNT(*) FROM Match)    AS match_percentage
                        FROM        Match   AS m
                        LEFT JOIN   League  AS l    ON l.id = m.league_id
                        GROUP BY    l.name
                        ORDER BY    match_percentage DESC
                        """, conn)
result

                 league_name  math_count  match_percentage
0            Spain LIGA BBVA        3040                11
1              Italy Serie A        3017                11
2             France Ligue 1        3040                11
3     England Premier League        3040                11
4     Netherlands Eredivisie        2448                 9
5      Germany 1. Bundesliga        2448                 9
6    Scotland Premier League        1824                 7
7   Portugal Liga ZON Sagres        2052                 7
8         Poland Ekstraklasa        1920                 7
9     Belgium Jupiler League        1728                 6
10  Switzerland Super League        1422                 5

## Câu hỏi 17: Liệt kê tỉ lệ phần trăm về số bàn ghi được của từng giải so với tổng số bàn của tất cả các trận.

In [121]:
# ĐIỀN CODE VÀO ĐÂY
result = pd.read_sql("""SELECT      l.name AS league_name,
                                    SUM(m.home_team_goal)   AS home_goals,
                                    SUM(m.away_team_goal)   AS away_goals,
                                    SUM(
                                        CASE WHEN m.home_team_api_id THEN m.home_team_goal ELSE 0 END
                                        + CASE WHEN m.away_team_api_id THEN m.away_team_goal ELSE 0 END
                                        ) AS total_goals
                        FROM        Match   AS m
                        LEFT JOIN   League  AS l    ON l.id = m.league_id
                        GROUP BY    l.name
                        """, conn)
result

                 league_name  home_goals  away_goals  total_goals
0     Belgium Jupiler League        2781        2060         4841
1     England Premier League        4715        3525         8240
2             France Ligue 1        4265        3162         7427
3      Germany 1. Bundesliga        3982        3121         7103
4              Italy Serie A        4528        3367         7895
5     Netherlands Eredivisie        4357        3185         7542
6         Poland Ekstraklasa        2678        1978         4656
7   Portugal Liga ZON Sagres        2890        2311         5201
8    Scotland Premier League        2607        2197         4804
9            Spain LIGA BBVA        4959        3453         8412
10  Switzerland Super League        2365        1801         4166

In [123]:
result = pd.read_sql("""SELECT      l.name AS league_name,
                                    SUM(m.home_team_goal)   AS home_goals,
                                    SUM(m.away_team_goal)   AS away_goals,
                                    SUM(m.home_team_goal + m.away_team_goal) AS total_goals
                        FROM        Match   AS m
                        LEFT JOIN   League  AS l    ON l.id = m.league_id
                        GROUP BY    l.name
                        """, conn)
result

                 league_name  home_goals  away_goals  total_goals
0     Belgium Jupiler League        2781        2060         4841
1     England Premier League        4715        3525         8240
2             France Ligue 1        4265        3162         7427
3      Germany 1. Bundesliga        3982        3121         7103
4              Italy Serie A        4528        3367         7895
5     Netherlands Eredivisie        4357        3185         7542
6         Poland Ekstraklasa        2678        1978         4656
7   Portugal Liga ZON Sagres        2890        2311         5201
8    Scotland Premier League        2607        2197         4804
9            Spain LIGA BBVA        4959        3453         8412
10  Switzerland Super League        2365        1801         4166

In [124]:
result = pd.read_sql("""SELECT  SUM(home_team_goal),
                                SUM(away_team_goal),
                                SUM(home_team_goal + away_team_goal) AS total_goals
                        FROM    Match
                        """, conn)
result

   SUM(home_team_goal)  SUM(away_team_goal)  total_goals
0                40127                30160        70287

In [127]:
result = pd.read_sql("""SELECT      l.name AS league_name,
                                    SUM(m.home_team_goal)   AS home_goals,
                                    SUM(m.away_team_goal)   AS away_goals,
                                    SUM(m.home_team_goal + m.away_team_goal) AS total_goals,
                                    (SUM(m.home_team_goal + m.away_team_goal)*100 / total_match_goals.total_goals) AS percent
                        FROM        Match   AS m
                        LEFT JOIN   League  AS l    ON l.id = m.league_id
                        CROSS JOIN  (
                                    SELECT  SUM(home_team_goal + away_team_goal) AS total_goals
                                    FROM    Match
                                    ) AS total_match_goals
                        GROUP BY    l.name
                        ORDER BY    percent DESC
                        """, conn)
result

                 league_name  home_goals  away_goals  total_goals  percent
0            Spain LIGA BBVA        4959        3453         8412       11
1              Italy Serie A        4528        3367         7895       11
2     England Premier League        4715        3525         8240       11
3     Netherlands Eredivisie        4357        3185         7542       10
4      Germany 1. Bundesliga        3982        3121         7103       10
5             France Ligue 1        4265        3162         7427       10
6   Portugal Liga ZON Sagres        2890        2311         5201        7
7    Scotland Premier League        2607        2197         4804        6
8         Poland Ekstraklasa        2678        1978         4656        6
9     Belgium Jupiler League        2781        2060         4841        6
10  Switzerland Super League        2365        1801         4166        5

In [130]:
result = pd.read_sql("""WITH cte_TotalGoals AS (
                            SELECT      league_id,
                                        SUM(home_team_goal) AS home_goals,
                                        SUM(away_team_goal) AS away_goals
                            FROM        Match
                            GROUP BY    league_id
                        )

                        SELECT *
                        FROM   cte_TotalGoals
                        """, conn)
result

    league_id  home_goals  away_goals
0           1        2781        2060
1        1729        4715        3525
2        4769        4265        3162
3        7809        3982        3121
4       10257        4528        3367
5       13274        4357        3185
6       15722        2678        1978
7       17642        2890        2311
8       19694        2607        2197
9       21518        4959        3453
10      24558        2365        1801

In [138]:
result = pd.read_sql("""WITH cte_TotalGoals AS (
                            SELECT      league_id,
                                        SUM(home_team_goal) AS home_goals,
                                        SUM(away_team_goal) AS away_goals
                            FROM        Match
                            GROUP BY    league_id
                        )

                        SELECT SUM(home_goals + away_goals)
                        FROM   cte_TotalGoals
                        """, conn)
result

   SUM(home_goals + away_goals)
0                         70287

In [145]:
result = pd.read_sql("""WITH cte_TotalGoals AS (
                            SELECT      league_id,
                                        SUM(home_team_goal) AS home_goals,
                                        SUM(away_team_goal) AS away_goals
                            FROM        Match
                            GROUP BY    league_id
                        )
                     
                        SELECT      l.name AS league_name, 
                                    tg.home_goals,
                                    tg.away_goals,
                                    tg.home_goals + tg.away_goals AS total_goals,
                                    ((tg.home_goals + tg.away_goals)*100 / total_match_goals.total_goals) AS percent
                        FROM        cte_TotalGoals  AS tg
                        LEFT JOIN   League          AS l    ON l.id = tg.league_id
                        CROSS JOIN  (
                                    SELECT  SUM(home_team_goal + away_team_goal) AS total_goals
                                    FROM    Match
                                    ) AS total_match_goals
                        ORDER BY    percent DESC
                        """, conn)
result

                 league_name  home_goals  away_goals  total_goals  percent
0     England Premier League        4715        3525         8240       11
1              Italy Serie A        4528        3367         7895       11
2            Spain LIGA BBVA        4959        3453         8412       11
3             France Ligue 1        4265        3162         7427       10
4      Germany 1. Bundesliga        3982        3121         7103       10
5     Netherlands Eredivisie        4357        3185         7542       10
6   Portugal Liga ZON Sagres        2890        2311         5201        7
7     Belgium Jupiler League        2781        2060         4841        6
8         Poland Ekstraklasa        2678        1978         4656        6
9    Scotland Premier League        2607        2197         4804        6
10  Switzerland Super League        2365        1801         4166        5

## Câu hỏi 18: Liệt kê tổng số bàn ghi được của từng giải đấu theo từng mùa giải.

In [151]:
# ĐIỀN CODE VÀO ĐÂY
result = pd.read_sql("""SELECT      l.name AS league_name,
                                    m.season,
                                    SUM(m.home_team_goal + m.away_team_goal) AS total_goals
                        FROM        Match   AS m
                        LEFT JOIN   League  AS l    ON l.id = m.league_id
                        GROUP BY    l.name, m.season
                        ORDER BY    l.name, m.season
                        """, conn)
result

                 league_name     season  total_goals
0     Belgium Jupiler League  2008/2009          855
1     Belgium Jupiler League  2009/2010          565
2     Belgium Jupiler League  2010/2011          635
3     Belgium Jupiler League  2011/2012          691
4     Belgium Jupiler League  2012/2013          703
..                       ...        ...          ...
83  Switzerland Super League  2011/2012          425
84  Switzerland Super League  2012/2013          462
85  Switzerland Super League  2013/2014          520
86  Switzerland Super League  2014/2015          517
87  Switzerland Super League  2015/2016          566

[88 rows x 3 columns]

## Câu hỏi 19: Liệt kê thông tin cầu thủ:

- Quy đổi cân nặng từ pound sang kg
- Quy đổi chiều cao từ cm sang m
- Tính chỉ số bmi = ( (weight* 0.453592) / (height/100)^2)
- Tính tuổi của cầu thủ

In [60]:
# ĐIỀN CODE VÀO ĐÂY
result = pd.read_sql("""SELECT      *,
                                    weight*0.453592 AS weight_kg,
                                    height/100      AS height_m,
                                    (weight*0.453592)/((height/100)*(height/100)) AS bmi,
                                    CAST(SUBSTR(birthday, 1, 4) AS INTEGER) AS birth_year,
                                    CAST(STRFTIME('%Y', 'now') AS INTEGER) - CAST(SUBSTR(birthday, 1, 4) AS INTEGER) AS age
                        FROM        Player
                        """, conn)
result

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight,weight_kg,height_m,bmi,birth_year,age
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,84.821704,1.8288,25.361478,1992,32
1,2,155782,Aaron Cresswell,189615,1989-12-15 00:00:00,170.18,146,66.224432,1.7018,22.866579,1989,35
2,3,162549,Aaron Doran,186170,1991-05-13 00:00:00,170.18,163,73.935496,1.7018,25.529126,1991,33
3,4,30572,Aaron Galindo,140161,1982-05-08 00:00:00,182.88,198,89.811216,1.8288,26.853330,1982,42
4,5,23780,Aaron Hughes,17725,1979-11-08 00:00:00,182.88,154,69.853168,1.8288,20.885923,1979,45
...,...,...,...,...,...,...,...,...,...,...,...,...
11055,11071,26357,Zoumana Camara,2488,1979-04-03 00:00:00,182.88,168,76.203456,1.8288,22.784644,1979,45
11056,11072,111182,Zsolt Laczko,164680,1986-12-18 00:00:00,182.88,176,79.832192,1.8288,23.869627,1986,38
11057,11073,36491,Zsolt Low,111191,1979-04-29 00:00:00,180.34,154,69.853168,1.8034,21.478402,1979,45
11058,11074,35506,Zurab Khizanishvili,47058,1981-10-06 00:00:00,185.42,172,78.017824,1.8542,22.692413,1981,43
11059,11075,39902,Zvjezdan Misimovic,102359,1982-06-05 00:00:00,180.34,176,79.832192,1.8034,24.546746,1982,42

In [57]:
result = pd.read_sql("""SELECT      *
                        FROM        Player
                        """, conn)
result

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187
1,2,155782,Aaron Cresswell,189615,1989-12-15 00:00:00,170.18,146
2,3,162549,Aaron Doran,186170,1991-05-13 00:00:00,170.18,163
3,4,30572,Aaron Galindo,140161,1982-05-08 00:00:00,182.88,198
4,5,23780,Aaron Hughes,17725,1979-11-08 00:00:00,182.88,154
...,...,...,...,...,...,...,...
11055,11071,26357,Zoumana Camara,2488,1979-04-03 00:00:00,182.88,168
11056,11072,111182,Zsolt Laczko,164680,1986-12-18 00:00:00,182.88,176
11057,11073,36491,Zsolt Low,111191,1979-04-29 00:00:00,180.34,154
11058,11074,35506,Zurab Khizanishvili,47058,1981-10-06 00:00:00,185.42,172
11059,11075,39902,Zvjezdan Misimovic,102359,1982-06-05 00:00:00,180.34,176

In [64]:
result['weight_kg'] = result['weight']*0.453592
result['height_m'] = result['weight']/100
result['bmi'] = result['weight_kg']/(result['height_m']**2)
current_year = pd.Timestamp.now().year
result['age'] = current_year - pd.to_datetime(result['birthday']).dt.year

print(result[['weight_kg', 'height_m', 'bmi', 'age']])

       weight_kg  height_m        bmi  age
0      84.821704      1.87  24.256257   32
1      66.224432      1.46  31.067945   35
2      73.935496      1.63  27.827730   33
3      89.811216      1.98  22.908687   42
4      69.853168      1.54  29.454026   45
...          ...       ...        ...  ...
11055  76.203456      1.68  26.999524   45
11056  79.832192      1.76  25.772273   38
11057  69.853168      1.54  29.454026   45
11058  78.017824      1.72  26.371628   43
11059  79.832192      1.76  25.772273   42

[11060 rows x 4 columns]

## Câu hỏi 20: Liệt kê cầu thủ lớn tuổi nhất

In [67]:
# ĐIỀN CODE VÀO ĐÂY
result = pd.read_sql("""SELECT      *,
                                    weight*0.453592 AS weight_kg,
                                    height/100      AS height_m,
                                    (weight*0.453592)/((height/100)*(height/100)) AS bmi,
                                    CAST(SUBSTR(birthday, 1, 4) AS INTEGER) AS birth_year,
                                    CAST(STRFTIME('%Y', 'now') AS INTEGER) - CAST(SUBSTR(birthday, 1, 4) AS INTEGER) AS age
                        FROM        Player
                        ORDER BY    age DESC
                        LIMIT       1
                        """, conn)
result

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight,weight_kg,height_m,bmi,birth_year,age
0,290,39425,Alberto Fontana,2431,1967-01-23 00:00:00,185.42,161,73.028312,1.8542,21.241154,1967,57

## Câu hỏi 21: Liệt kê  cầu thủ có số trận đấu nhiều nhất

In [70]:
# ĐIỀN CODE VÀO ĐÂY
result = pd.read_sql("""
                        """, conn)
result

,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,finishing,heading_accuracy,short_passing,volleys,dribbling,curve,free_kick_accuracy,long_passing,ball_control,acceleration,sprint_speed,agility,reactions,balance,shot_power,jumping,stamina,strength,long_shots,aggression,interceptions,positioning,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,218353,505942,2016-02-18 00:00:00,67.0,71.0,right,medium,medium,49.0,44.0,71.0,61.0,44.0,51.0,45.0,39.0,64.0,49.0,60.0,64.0,59.0,47.0,65.0,55.0,58.0,54.0,76.0,35.0,71.0,70.0,45.0,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
1,2,218353,505942,2015-11-19 00:00:00,67.0,71.0,right,medium,medium,49.0,44.0,71.0,61.0,44.0,51.0,45.0,39.0,64.0,49.0,60.0,64.0,59.0,47.0,65.0,55.0,58.0,54.0,76.0,35.0,71.0,70.0,45.0,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
2,3,218353,505942,2015-09-21 00:00:00,62.0,66.0,right,medium,medium,49.0,44.0,71.0,61.0,44.0,51.0,45.0,39.0,64.0,49.0,60.0,64.0,59.0,47.0,65.0,55.0,58.0,54.0,76.0,35.0,63.0,41.0,45.0,54.0,48.0,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0
3,4,218353,505942,2015-03-20 00:00:00,61.0,65.0,right,medium,medium,48.0,43.0,70.0,60.0,43.0,50.0,44.0,38.0,63.0,48.0,60.0,64.0,59.0,46.0,65.0,54.0,58.0,54.0,76.0,34.0,62.0,40.0,44.0,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
4,5,218353,505942,2007-02-22 00:00:00,61.0,65.0,right,medium,medium,48.0,43.0,70.0,60.0,43.0,50.0,44.0,38.0,63.0,48.0,60.0,64.0,59.0,46.0,65.0,54.0,58.0,54.0,76.0,34.0,62.0,40.0,44.0,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183973,183974,102359,39902,2009-08-30 00:00:00,83.0,85.0,right,medium,low,84.0,77.0,59.0,89.0,77.0,84.0,86.0,78.0,84.0,85.0,66.0,72.0,77.0,86.0,73.0,76.0,58.0,72.0,67.0,81.0,56.0,78.0,86.0,88.0,83.0,22.0,31.0,30.0,9.0,20.0,84.0,20.0,20.0
183974,183975,102359,39902,2009-02-22 00:00:00,78.0,80.0,right,medium,low,74.0,76.0,53.0,84.0,77.0,85.0,86.0,74.0,73.0,86.0,66.0,67.0,77.0,74.0,73.0,75.0,58.0,66.0,65.0,73.0,61.0,64.0,72.0,88.0,70.0,32.0,31.0,30.0,9.0,20.0,73.0,20.0,20.0
183975,183976,102359,39902,2008-08-30 00:00:00,77.0,80.0,right,medium,low,74.0,71.0,53.0,84.0,77.0,85.0,86.0,74.0,73.0,86.0,66.0,67.0,77.0,74.0,73.0,75.0,58.0,66.0,65.0,73.0,67.0,64.0,72.0,88.0,70.0,32.0,31.0,30.0,9.0,20.0,73.0,20.0,20.0
183976,183977,102359,39902,2007-08-30 00:00:00,78.0,81.0,right,medium,low,74.0,64.0,57.0,86.0,77.0,87.0,86.0,73.0,73.0,91.0,61.0,60.0,77.0,69.0,73.0,72.0,58.0,67.0,59.0,78.0,63.0,63.0,68.0,88.0,53.0,28.0,32.0,30.0,9.0,20.0,73.0,20.0,20.0
183977,183978,102359,39902,2007-02-22 00:00:00,80.0,81.0,right,medium,low,74.0,68.0,57.0,88.0,77.0,87.0,86.0,53.0,78.0,91.0,58.0,64.0,77.0,66.0,73.0,72.0,58.0,67.0,59.0,78.0,63.0,63.0,68.0,88.0,53.0,38.0,32.0,30.0,9.0,9.0,78.0,7.0,15.0

## Câu hỏi 22: Liệt kê các cầu thủ có tổng số điểm đánh giá lớn hơn 80

In [75]:
# ĐIỀN CODE VÀO ĐÂY
result = pd.read_sql("""SELECT      pa.player_api_id, p.player_name, pa.overall_rating, MAX(pa.overall_rating) AS max_overall_rating
                        FROM        Player_Attributes   As pa
                        LEFT JOIN   Player              As p    ON p.player_api_id = pa.player_api_id
                        WHERE       pa.overall_rating > 80
                        GROUP BY    pa.player_api_id, p.player_name
                        ORDER BY    max_overall_rating DESC
                        """, conn)
result

      player_api_id         player_name  overall_rating
0             30981        Lionel Messi              94
1             30981        Lionel Messi              94
2             30981        Lionel Messi              94
3             30981        Lionel Messi              94
4             30981        Lionel Messi              94
...             ...                 ...             ...
7556          30861      Zdenek Grygera              81
7557          30861      Zdenek Grygera              81
7558          39902  Zvjezdan Misimovic              81
7559          39902  Zvjezdan Misimovic              81
7560          39902  Zvjezdan Misimovic              81

[7561 rows x 3 columns]